#relay-desktop-button {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 56px !important;
    height: 56px !important;
    border-radius: 28px !important;
    background-color: #2b2b30 !important;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
      0 3px 5px -1px rgba(0, 0, 0, 0.2) !important;
    position: fixed !important;
    cursor: pointer !important;
    z-index: 9999999999 !important;
    border: none !important;
    outline: none !important;
    min-width: 56px !important;
    max-width: 56px !important;
    padding: 0 !important;
    margin: 0 !important;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    -ms-transition: -ms-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
  }
  
  #relay-mobile-button {
    outline: none !important;
    border: none !important;
    width: 30% !important;
    position: fixed !important;
    left: 50% !important;
    margin: 0 0 0 -15% !important;
    font-family: Roboto !important;
    background-color: #2b2b30 !important;
    color: white !important;
    display: flex !important;
    flex-direction: row-reverse !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 18px !important;
    padding: 5px 0 !important;
    height: 20px !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    z-index: 214748364 !important;
    padding: 0 !important;
    right: initial !important;
    top: initial !important;
  }
  
  #relay-mobile-button div {
    width: 30px !important;
    height: 30px !important;
    border-radius: 15px !important;
    position: relative !important;
    /* bottom: 5px; */
    background-color: #2b2b30 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  
  #relay-mobile-button .relay-img {
    width: 15px !important;
  }
  
  #relay-mobile-button:active {
    color: #37db6b !important;
  }
  
  #relay-desktop-button:focus {
    outline: none !important;
    border: none !important;
  }
  
  #relay-desktop-button img {
    color: #37db6b !important;
    border: none !important;
    outline: none !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
  }
  
  .relay-img {
    width: 25px !important;
  }
  
  #relay-desktop-button.minimized {
    transform: rotate(-45deg) !important;
    -ms-transform: rotate(-45deg) !important;
    -webkit-transform: rotate(-45deg) !important;
  }
  
  #relay-mobile-button.minimized.unread::after {
    content: attr(data-unread) !important;
    background: #37db6b !important;
    color: #2b2b30 !important;
    font-size: 12px !important;
    font-weight: bold !important;
    width: 16px !important;
    display: flex !important;
    font-family: Roboto !important;
    position: absolute !important;
    height: 16px !important;
    border-radius: 8px !important;
    top: 2px !important;
    right: 4px !important;
    align-items: center !important;
    justify-content: center !important;
  }
  #relay-wrapper.mobile.open {
    -ms-transform: translateY(-100vh); /* IE 9 */
    -webkit-transform: translateY(-100vh); /* Safari */
    transform: translateY(-100vh);
    visibility: visible;
  }
  
  #relay-wrapper.mobile {
    transition: all 0.2s ease-out;
    height: 100vh !important;
    top: 100vh !important;
  }
  
  #relay-wrapper.mobile.closed {
    visibility: hidden !important;
  }
  
  #relay-wrapper {
    display: visible !important;
  }
  