body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}
#map {
  width: 100vw;
  height: 100vh;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 60px;
  max-width: 40%;
  border-radius: 0px 0px 10px 0px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  opacity: 0.5;
  padding: 12px 24px;
  margin: 0;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  outline: none;
  text-transform: uppercase;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  display: flex;
}

.navbar:hover {
  opacity: 1;
}

.control-panel {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 520px;
  border-radius: 0px 0px 0px 5px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  opacity: 0.5;
  padding: 0;
  margin: 0;
  font-size: 13px;
  color: #6b6b76;
  outline: none;
  text-transform: uppercase;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.control-panel:hover {
  opacity: 1;
}

#control-panel-title {
  text-align: center;
  margin: 0px;
}

#legend {
  padding-bottom: 10px;
}

#control-panel-info {
  margin: 0px;
  padding-bottom: 10px;
}

.form-content {
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.form-content p {
  flex: 3;
  padding-right: "10px";
}

.input-with-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  padding: 0px 5px 0px 5px;
  margin-left: 5px;
  border-radius: 3px;
  background-color: #f0f0f0;
}

.input-with-text-spec {
  display: flex;
}

.data-radio {
  margin: 0 0 0 5px;
  padding: 0 0 0 5px;
}

.datatype {
  margin: 0;
  padding: 0;
}

.slider {
  width: 100%;
  margin: 2px;
  background: #d3d3d3;
}

.sliderticks {
  display: flex;
  justify-content: space-between;
  padding: 0 3px;
}

.sliderticks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 2px;
  background-color: #d3d3d3;
  height: 10px;
  line-height: 40px;
  margin: 0 0 20px 0;
}

.state-info {
  overflow: auto;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  /* width: 20%; */
  width: 500px;
  height: 55%;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 12px 24px;
  margin: 20px;
  /* margin-top: 50px; */
  font-size: 13px;
  opacity: 0.8;
  line-height: 2;
  color: #6b6b76;
  outline: none;
  text-transform: uppercase;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.state-info:hover {
  opacity: 1;
}
.state-info i {
  position: absolute;
  top: 10px;
  right: 15px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.state-info-title-and-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.state-info-title-and-btn h3 {
  margin: 10px;
}

#jobs-btn {
  padding: 0px 20px 10px 0px;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  margin-left: 20px;
  width: auto;
}

.tooltip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 10px;
  z-index: 9;
  pointer-events: none;
}
/*
.modal {
  position: absolute;
  /* top: 2; */
/* left: 2; */
/* margin: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6); */
/* } */

/* .modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.job-board {
  opacity: 1;
  overflow: auto;
  overflow-y: hidden;
  position: fixed;
  top: 5%;
  right: 5%;
  left: 5%;
  bottom: 5%;
  /* max-width: 90vw; */
  max-height: 100%;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 12px 24px 12px 24px;
  margin: auto;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  outline: none;
  text-transform: uppercase;
}

.job-board-info {
  scroll-behavior: smooth;
  overflow-y: scroll;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 90%;
}

.job-board > i {
  position: absolute;
  top: 10px;
  right: 15px;
}
.job-description {
  scroll-behavior: smooth;
  overflow-y: scroll;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 90%;
  padding-left: 1%;
  /* padding-right: 1%; */
}

.job-list-and-description {
  /* word-wrap: break-word; */
  display: flex;
  height: 90%;
  position: absolute;
  /* margin: auto; */
  /* margin-right: 100px; */
  /* right: 50; */
  /* width: auto; */
}

.job {
  /* color: yellow; */
  text-transform: capitalize;
}
.knopochka {
  position: absolute;
  border-radius: 32px;
  bottom: 15px;
  left: 0;
  opacity: 1;
  /* max-width: 320px; */
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  /* padding: 12px 24px; */
  margin: 20px;
  font-size: 15px;
  line-height: 2;
  color: #6b6b76;
  outline: none;
  text-transform: uppercase;
  outline: none;
}

.btn {
  -moz-box-shadow: 0px 10px 14px -7px #276873;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
  box-shadow: 0px 10px 14px -7px #276873;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #599bb3),
    color-stop(1, #408c99)
  );
  background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: -webkit-linear-gradient(top, #47565c 5%, #408c99 100%);
  background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
  background-color: #599bb3;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 17px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  outline: none;
}

.btn:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #408c99),
    color-stop(1, #599bb3)
  );
  background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
  background-color: #408c99;
}
.btn:active {
  position: relative;
  top: 1px;
}

.usaInfo {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  /* bottom: 5%; */
  /* max-width: 320px; */
  width: 100vw;
  height: 100vh;
  /* max-height: 100%; */
  /* background: #fff; */
  background: url("https://images.wallpaperscraft.com/image/lake_mountain_water_134189_3840x2160.jpg")
    center no-repeat;
  /* background-repeat: repeat-x; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); */
  /* padding: 12px 24px 12px 24px;
  margin: auto; */
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  outline: none;
  text-transform: uppercase;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

/*
.usaInfo {
  position: fixed;
  top: 5%;
  right: 5%;
  left: 5%;
  bottom: 5%; */
/* max-width: 320px; */
/* max-height: 100%;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 12px 24px 12px 24px;
  margin: auto;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  outline: none;
  text-transform: uppercase;
} */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.usaInfo i {
  position: absolute;
  top: 5px;
  right: 10px;
}
.legend {
  background-color: #fff;
  border-radius: 5px grey;
  /* bottom: 30px; */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 10px;
  /* right: 10px; */
  /* z-index: 1; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.legend div {
  display: flex;
  /* align-self: center; */
  margin: 0;
}

.legend div span {
  border-radius: 15%;
  display: inline-block;
  height: 15px;
  margin-right: 5px;
  width: 15px;
}

.pie {
  width: 500px;
  margin: 0 auto;
}

.chart {
  /* width: 600px; */
  /* margin: 0 auto; */
  margin-left: 140px;
}

.aboutSizing {
  font-size: 150%;
}

#team div {
  flex-flow: flex;
  /* width: auto; */
  /* justify-content: space-between; */
}

#team div {
  justify-content: space-evenly;
}
